$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$primaryText: #212121;
$secondaryText: #727272;
$textIcons: #FFF;
$accent: #03A9F4;
$divider: #B6B6B6;

$border-radius: 15px;

h1 {
  color: $primaryText;
}