<div class="loginContainer">
<div id="logo"><img src="../../assets/locuslogo.png" alt="logo"><h1>LOCUS</h1></div>
    <form class="loginForm" ng-submit="auth.login(auth.username, auth.password)">
        <label> User Name: </label>
        <input type="text" ng-model="auth.username" placeholder="username">
        <label> Password: </label>
        <input type="password" ng-model="auth.password" placeholder="password">
        <br>
        <input type="submit" value="Login">
        <button ui-sref="signup">Signup</button>
    </form>
</div>