<div class="loginContainer loginForm">
        <div id="logo">
            <img src="../../assets/locuslogo.png" alt="logo">
            <h1>LOCUS</h1>
        </div>
        <div>
            <input type="text" ng-model="auth.firstName" placeholder="First Name">
            <input type="text" ng-model="auth.lastName" placeholder="Last Name">
            <input type="email" ng-model="auth.email" placeholder="Email">
            <input type="text" ng-model="auth.username" placeholder="Username">
            <input type="text" ng-model="auth.password" placeholder="Password">
            <br>
            <button id="signup-btn" ng-click="auth.signup()">Signup</button>
            <button ui-sref="login">Login</button>
        </div>
</div>