body h3 label  {
  font-weight: 100;
}

label {
  color: red;
}

input, a {
  margin-top: 10px
}

/*===========================

         habit-create

============================*/

#habit-create {
  margin-top: 16%;
  margin-left: 10%;
}

#habit-create label {
  margin-left: 15%;
}

#habit-create input {
  margin-left: 8%;
}

#habit-create a {
  margin-left: 10%;
}

#tracker {
  margin-top: 10px;
}

/*===========================

         habit-track

============================*/
table {
  width: 100%;
}

#habit-track {
  margin-top: 10%;
}


#great-job {
  margin-top: 20%;
  margin-left: 10%;
}


#great-job-message {
  margin-left: 38%;
}

#days{
  margin-left: 22%
}
