@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Dosis:400,600);
h1 h2 h3 {
  font-family: "Fjalla One", "serif"; }

html {
  height: 100%; }

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.mainContainer {
  height: 100%;
  background-color: #2196F3;
  background-image: linear-gradient(top, #2196F3, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#2196F3', end-colourStr='#FFF'); }

.loginContainer {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  margin: 0 auto; }

.loginForm {
  border-radius: 30px;
  border: #FFF solid 1px;
  padding: 40px 20px; }

label {
  font-family: "Dosis", "serif";
  color: #FFF; }

button {
  border-radius: 35px;
  border: #B6B6B6 solid 1.5px;
  color: #727272;
  background-color: #FFF;
  border-radius: 35px;
  border: #B6B6B6 solid 0px;
  width: 35%;
  font-family: "Dosis", "serif";
  margin-top: 15px; }

#signup-btn {
  border-radius: 35px;
  border: #B6B6B6 solid 1.5px;
  color: #FFF;
  background-color: transparent; }

input {
  width: 65%;
  font-family: "Dosis", "serif";
  margin: 15px 5px 0px 5px; }
  input[type="submit"] {
    border-radius: 35px;
    border: #B6B6B6 solid 1.5px;
    color: #FFF;
    background-color: transparent;
    border-radius: 35px;
    border: #B6B6B6 solid 1.5px;
    width: 35%; }

#logo {
  text-align: center;
  display: table;
  margin: 0 10px 0 10px; }
  #logo h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: "Dosis", "serif";
    font-size: 6em;
    color: #BBDEFB;
    padding-left: 15px; }
