@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Dosis:400,600);
h1 h2 h3 {
  font-family: "Fjalla One", "serif"; }

html {
  height: 100%; }

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.mainContainer {
  height: 100%;
  background-color: #2196F3; }

.loginContainer {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  margin: 0 auto; }
  .loginContainer .loginForm {
    border-radius: 30px;
    border: #FFF solid 1px;
    padding: 20px; }

label {
  font-family: "Dosis", "serif";
  color: #FFF; }

button {
  color: #727272;
  background-color: #FFF;
  border-radius: 35px;
  border: #B6B6B6 solid 0px;
  font-family: "Dosis", "serif"; }

input {
  font-family: "Dosis", "serif";
  width: 65%; }
  input[type="submit"] {
    color: #FFF;
    background-color: transparent;
    border-radius: 35px;
    border: #B6B6B6 solid 1.5px;
    width: 30%; }

#logo {
  text-align: center;
  display: table;
  margin-bottom: 15px; }
  #logo h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: "Dosis", "serif";
    font-size: 6em;
    color: #BBDEFB;
    padding-left: 20px; }
